
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RESOURCE-it</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            1st Year
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="carousel">Chemistry Cycle</a></li>
            <li><a class="dropdown-item" routerLink="physics">Physics Cycle</a></li>    
          </ul>
        </li>
        
        <li class="nav-item">

          <a class="nav-link" routerLink="cards">2nd Year</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="carousel">3rd Year</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="cards">4th Year</a>
        </li>
      </ul>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">Searching for notes?Type here--></a>
      
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>